@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
	html::-webkit-scrollbar {
		width: 0px;
		height: 0px;
	}
	html {
		scroll-behavior: smooth;
	}
}

body {
	background: url("./assets/bg.jpg");
}
.scroll-remove::-webkit-scrollbar {
	display: none;
}
.scroll-remove {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
.mask{
	mask-image:linear-gradient(to bottom, transparent, black);
	-webkit-mask-image:linear-gradient(to bottom, transparent, black)
}